/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Roboto Mono', monospace;
    @apply
      bg-primary-white dark:bg-primary-black
      text-primary-black dark:text-primary-white
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

@layer components {
  .header {
    @apply
      fixed top-0 left-0 z-40
      bg-white/80 dark:bg-primary-gray/80
      py-3 md:py-0
      w-full backdrop-blur
  }
}